@media only screen and (max-width: 768px) {
    #photo {
        margin-left: 5rem;
        margin-top: 8rem;
        margin-right: 5rem;
    }

    #projects {
        width: auto;
    }

    #projects h2 {
        text-align: center;
    }

    .icons-contener {
        display: flex;
        justify-content: space-evenly;
    }
        
}

/* HEADER */

header nav {
    display: flex;
    font-family: 'Madimi One', sans-serif;
}

.links {
    display: flex;
    list-style-type: none;
}

.links li {
    padding-left: 20px;
}

.name {
    padding-left: 50px;
    padding-right: 150px;
}

.links li a {
    text-decoration: none;
}

a:hover {
    color: red;
}

/* MAIN */

body {
    background-color: hsla(180, 14%, 46%, 0.327);
}

.context {
    display: flex;
    width: 100%;
    
}

.textbox {
    width: 45rem;
    margin: 3rem;
    font-family: 'Arsenal', sans-serif;
    font-size: 2rem;
}

#about-me {
    font-size: 1.7rem;
}

.foto {
    margin-left: 12rem;
    height: 33rem;
}

.first div img {
    width: 100%;
    padding: 1rem;
    border: 0.5rem;
    border-radius: 15%;
    border-style: solid;
    border-color: #6FC9FC;
}

.icons-contener i {
    padding: 1rem;
}