header nav {
    display: flex;
    font-family: 'Madimi One', sans-serif;
}

.links {
    display: flex;
    list-style-type: none;
}

.links li {
    padding-left: 20px;
}

.name {
    padding-left: 50px;
    padding-right: 150px;
}

a:hover {
    color: red;
}

/* main */

body {
    background-color: hsla(180, 14%, 46%, 0.327);
}

.context {
    display: flex;
    width: 90%;
    height: 50rem;
}

.textbox {
    margin-top: 7rem;
    margin-left: 3rem;
    font-family: 'Arsenal', sans-serif;
    font-size: 2rem;
}

#about-me {
    font-size: 1.7rem;
}

.foto {
    width: auto;
    height: 500px;
}