header nav {
    display: flex;
}

.links {
    display: flex;
    list-style-type: none;
}

.links li {
    padding-left: 20px;
}

.name {
    padding-left: 50px;
    padding-right: 150px;
}

a:hover {
    color: red;
}

/* main */

body {
    background-color: hsla(180, 14%, 46%, 0.327);
}

.context {
    display: flex;
    width: 100%;
}

.textbox {
    margin-top: 15rem;
    margin-left: 3rem;
}

.foto {
    width: 60%;
    height: auto;
}